.countdown{
    background-color: black;
    color:$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    &__title{
        font-size: 5rem;
        line-height: 3rem;
        &--breakline{
            font-size: 3.6rem;
        }
    }
    &__numbers{
        display: flex;
    }
    &__number{
        width: 25%;
        margin: 2.5rem 1rem;
        padding: 1rem;
        background-color: white;
        color: black;
        position: relative;
        font-size: 1.6rem;
        font-weight: 600;
        span{
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 1.6rem;
        }
    }
}
