.counter{
    display: flex;
    &__number{
        width: 25%;
        margin: 2.5rem 1rem;
        padding: 1rem;
        background-color: white;
        color: black;
        position: relative;
        font-weight: 600;
        font-size: 1.8rem;
        span{
            position: absolute;
            bottom: -2.5rem;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 1.2rem;
        }
    }
}
